.container {
    width: 100%;
    position: relative;
    background-color: white;
}

.container-text {
    padding: 4rem;
    padding-bottom: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    width: 50%;
    font-size: 6rem;
    font-weight: 200;
    color: #ffffff;
    line-height: 6rem;
    mix-blend-mode: difference;
}

.subtitulo {
    margin-top: 4rem;
    font-size: 2rem;
}

.autor {
    margin-top: 2rem;
    font-weight: 200;
    font-size: 1.5rem;
}


.wave {
    position: absolute;
    top: 0;
    left: 0;
}

.lista-cards {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

@media screen and (max-width: 576px) {
    .container-text {
        width: 100%;
    }

    .titulo {
        width: 80%;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .container-text {
        width: 100%;
    }

    .titulo {
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-text {
        width: 100%;
    }

    .titulo {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .container-text {
        width: 90%;
    }

    .titulo {
        width: 50%;
    }
}

@media screen and (min-width: 1600px) {
    .container-text {
        width: 80%;
    }

    .titulo {
        width: 50%;
    }
}

